<div id="bornInNetherlands">
    <div class="hero">
        <div class="born">Born in Netherlands.</div>
    </div>
    <div class="content">
        <div class="c1">
            <div class="introduction">
                Xebia India was brought into existence in 2006, right here in Gurugram. We turn the latest technology
                trends into advantages for our customers, and provide an ocean of learning for our employees. As a
                mainstream frontrunner, we create new innovative solutions and build the future with our clients.
            </div>
            <div class="offices">
                <div class="heading">Our Offices in India</div>
            </div>
        </div>
        <div class="c2">
            <div class="heading">Our Values</div>
        </div>
    </div>
</div>