<div id="organisationStructure" style="display: none">
    <div class="tree">
        <ul>
            <li>
                <a href="#">
                    <img src="../assets/images/logo.png" alt="x" />
                    Xebia Group
                </a>
                <ul>
                    <li>
                        <a href="#">
                            <img src="../assets/images/logo.png" alt="xgs" />
                            Xebia Global Services
                        </a>
                        <ul>
                            <li>
                                <a href="#">
                                    <div class="noLogo-xi">XI</div>
                                    Xebia India
                                </a>
                                <ul>
                                    <li>
                                        <a href="#">
                                            <div class="noLogo-xg">XG</div>
                                            Xebia Gurugram
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="noLogo-xi">XB</div>
                                            Xebia Bangalore
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="noLogo-xus">XP</div>
                                            Xebia Pune
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="noLogo-xg">XA</div>
                                            Xebia Academy
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="noLogo-xe">XM</div>
                                    Xebia Middle East
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="noLogo-xus">XUS</div>
                                    Xebia US
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="autofade">
                            <img src="../assets/images/organization/xpirit.svg" alt="xpirit" />
                            Xpirit
                        </a>
                    </li>
                    <li>

                        <a href="#" class="autofade">
                            <img src="../assets/images/organization/binx.svg" alt="binx" />
                            Binx.io
                        </a>
                    </li>
                    <li>
                        <a href="#" class="autofade">
                            <img src="../assets/images/organization/gdd.png" alt="gdd" />
                            GoDataDriven
                        </a>
                    </li>
                    <li>
                        <a href="#" class="autofade">
                            <img src="../assets/images/organization/xccelerated.png" alt="xcc" />
                            Xccelerated
                        </a>
                    </li>
                    <li>
                        <a href="#" class="autofade">
                            <img src="../assets/images/organization/StackState.svg" alt="stackstate" />
                            StackState
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>