<div id="organizationMatrix">
    <div class="heading">
        We are a Matrix Organisation
    </div>
    <div class="content">
        <div class="coes">
            <div>COEs</div>
        </div>
        <div class="matrix">
            <div class="row">
                <div></div>
                <div>Home</div>
                <div>Project &alpha;</div>
                <div>Project &beta;</div>
                <div>Project &gamma;</div>
                <div>Project &delta;</div>
            </div>
            <div class="row header">
                <div></div>
                <div></div>
                <div><img src="../assets/images/person.svg" alt="kid" /></div>
                <div><img src="../assets/images/person.svg" alt="kid" /></div>
                <div><img src="../assets/images/person.svg" alt="kid" /></div>
                <div><img src="../assets/images/person.svg" alt="kid" /></div>
            </div>
            {{> ../components/departmentRow.hbs department="XACT (Agile Consultancy & Training)" head="Ajay Kabra"}}
            {{> ../components/departmentRow.hbs department="Big Data/ Machine Learning/ AI/ RPA" head="Ram Narsimhan"}}
            {{> ../components/departmentRow.hbs department="Digital Assurance" head="Vikas Mittal"}}
            {{> ../components/departmentRow.hbs department="Open Source and Microsoft" head="Mandeep Mehra & Aditya Kalia" showWings="true" }}
        </div>
    </div>
</div>