<div id="thankyou">
    <div class="thanksNote">
        <div>
            Thank you
            <img src="../assets/images/happy_face.png" alt="happ_face" /></div>
        <div>Keep up your Good Work.</div>
        <div class="subheading">Your goodies are on their way</div>
    </div>
</div>