<div id="thankyou" style="display: none">
    <div class="thanksNote">
        <div>
            Thank you
            <img src="../assets/images/happy_face.svg" alt="happ_face" /></div>
        <div>Keep up your Good Work.</div>
        <div class="subheading">Your goodies are on their way, enjoy this video</div>
    </div>
</div>