<div id="thingsToRemember">
    <div class="content">
        <div class="heading">
            Things to remember
        </div>
        <div class="things">
            {{> ../components/thing heading="POSH (Prevention of Sexual Harassment)" content="Xebia commits to provide a workplace free from sexual harassment, and provide a mechanism for redressal of any complaints, without fear or threat of any reprisals in any form or manner."}}
            {{> ../components/thing heading="POSH (Prevention of Sexual Harassment)" content=""}}
            {{> ../components/thing heading="POSH (Prevention of Sexual Harassment)" content=""}}
        </div>
    </div>
    <div class="graphic">
        <img src="" alt="graphic" />
    </div>
</div>