<div class="row">
    <div class="departments">
        <div>{{department}}</div>
        <div class="head">{{head}}</div>
        {{#if showWings}}
        <div class="wings">
            <div>
                <div>Java and Containers</div>
                <div>Shekhar Gulati</div>
            </div>
            <div>
                <div>Cloud</div>
                <div>Ashok Bhardwaj</div>
            </div>
            <div>
                <div>Devops</div>
                <div>Abhishek Srivastava</div>
            </div>
        </div>
        {{/if}}
    </div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>