@import 'pallete.scss';
@import 'mixins.scss';

#bornInNetherlands{
    display: flex;
    flex-direction: column;
    background-color: $base-color;
    width: 100%;
    .hero{
        height: 40%;
        background-image: url('../assets/images/netherlands.png');
        background-position: center;
        display: flex;
        align-items: center;
        .born{
            display: flex;
            align-items: center;
            padding: 0px 0px 0px 60px;
            font-size: 80px;
            width: 100%;
            height: 100%;
            font-weight: bolder;
            color: $white;
            background-color: rgba(0,0,0,0.4);
            > div{
                max-width: 300px;
            }
            
        }
    }
    .content{
        height: 60%;
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 2%;
        .c1{
            display: grid;
            grid-template-rows: 30% 70%;
            .introduction{
                line-height: 25px;
                color: $grey;
            }
            padding-right: 4%;
            .offices{
                @include heading();
            }
        }
        .c2{
            padding-left: 4%;
            @include heading();
        }
    }
}