@import 'pallete.scss';


@mixin organizationLogo {
    height: 20px;
    margin-right: 15px;
}

@mixin noLogo($bgColor) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: $white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $bgColor;
    margin-right: 15px;
}

.tree {
    width: 100%;

    ul {
        padding-top: 20px;
        padding-left: 0;
        position: relative;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
    }

    li {
        float: left;
        text-align: center;
        list-style-type: none;
        position: relative;
        padding: 20px 5px 0 5px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;



        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 50%;
            border-top: 2px solid $orange;
            width: 50%;
            height: 18px;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 50%;
            border-top: 2px solid $orange;
            width: 50%;
            height: 18px;
            right: auto;
            left: 50%;
            border-left: 2px solid $orange;
        }

        &:only-child {

            &::after,
            &::before {
                display: none;
            }

            padding-top: 0;
        }

        &:first-child::before {
            border: 0 none;
        }

        &:last-child {
            &::after {
                border: 0 none;
            }

            &::before {
                border-right: 2px solid $orange;
                border-radius: 0 10px 0 0;
                -webkit-border-radius: 0 10px 0 0;
                -moz-border-radius: 0 10px 0 0;
            }
        }

        &:first-child::after {
            border-radius: 10px 0 0 0;
            -webkit-border-radius: 10px 0 0 0;
            -moz-border-radius: 10px 0 0 0;
        }


    }

    ul ul::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        border-left: 2px solid $orange;
        width: 0;
        height: 20px;
    }

    li a {
        box-shadow: 0px 0px 20px 0px rgba($black, 0.10);
        padding: 15px 10px;
        text-decoration: none;
        color: $grey;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        height: 15%;
        border-radius: 43px;

        .noLogo-xi {
            @include noLogo($no-logo-xi)
        }

        .noLogo-xe {
            @include noLogo($no-logo-xe)
        }

        .noLogo-xus {
            @include noLogo($no-logo-xus)
        }

        .noLogo-xg {
            @include noLogo($dark-orange)
        }

        img {
            @include organizationLogo()
        }

        &:hover {
            background: #c8e4f8;
            color: #000;
            border: 1px solid #94a0b4;
            opacity: 1;




            +ul {
                li {
                    a {
                        background: #c8e4f8;
                        color: #000;
                        border: 1px solid #94a0b4;
                        cursor: pointer;
                    }

                    &::after,
                    &::before {
                        border-color: #94a0b4;
                    }
                }

                &::before,
                ul::before {
                    border-color: #94a0b4;
                }
            }

        }



    }
}


/*We will use ::before and ::after to draw the connectors*/

/*We need to remove left-right connectors from elements without 
  any siblings*/

/*Remove space from the top of single children*/

/*Remove left connector from first child and 
  right connector from last child*/

/*Adding back the vertical connector to the last nodes*/

/*Time to add downward connectors from parents*/

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/

/*Connector styles on hover*/