<div class="hr">
    <div class="heading">Human Resource</div>
    <div class="details">
        <div>
            <div>{{name}}</div>
            <div>{{phone}}</div>
            <div>{{email}}</div>
        </div>
    </div>
</div>